{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div id="welcome-message">
        <h1>Welcome to P-Task</h1>
        <h1>Register page </h1>
    </div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <button>Enter</button>
                <p class="message">Not register? <a href="/register">Register</a></p>
                {% comment %} <p class="message">Forgoten password? <a href="{% url 'password_reset' %}">Forgot password?</a> {% endcomment %}
                </p>
            </form>
        </div>
    </div>
{% endblock %}