{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="register-all" style='text-align: center; margin-top: 20px;'>
    <div id="welcome-message">
        <h1>Welcome to P-Task</h1>
        <h1>Register Page</h1>
    </div>

    <div class="register-page">
        <div class="form">
            <form method="POST" class="register-form" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="center">
                    <button type='confirm' class="btn btn-primary">Register</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}