
@media (max-width: 410px) {
    nav {
        padding: 10px !important;
    }

    .tasks-list {
        display: block;
    }
    
    .task-item {
       width: 100%;
    
    }

    .card-date {
        font-size: 10px !important; 
    }
  
    button {
        padding:2px;
    }

     button {
        font-size:12px  !important;
        padding:5px !important;

    }
}


@media (max-width: 641px) {

    .custom-footer { 
        position: fixed;
        height: 120px;
        bottom: 0;
        width: 100%;
    }

    nav {
        padding: 30px  !important;
    }

    .tasks-list {
        display: block;
    }
    
    .task-item {
       display:block !important; 
       width: 90%;
       margin: auto;
       margin-top:20px;

    
    }
    .card-date {
        font-size: 10px !important; 
    }

    button {
        padding:5px !important;
        font-size: 12px !important;
    }

    .card-link button {
        font-size:14px  !important;
    }

}
    @media (max-width: 991px) {

        .custom-footer { 
            position: fixed;
            height: 120px;
            bottom: 0;
            width: 100%;
        }
    
        nav {
            padding: 30px  !important;
        }
    
        .tasks-list {
            display: block;
        }
        
        .task-item {
           display:block !important; 
           width: 90% !important;
           margin: auto;
           margin-top:20px;
           background-color: blue;
    
        
        }
    }
