@import "loader.css";

nav {
    padding: 10px 15%  !important;
}

/* .container {
    padding: 0 !important;
    margin: 0 10% !important;
} */

.tasks-list {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    width: 100% ;
    background-color: red;
}

.task-item {
    flex: 33.33%;
    background-color: blue;
}