@import "loader.css";
@import "responsive.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');


/* NAV */

.nav-link {
    color:white !important;
}

.nav-link:hover {
    color:rgb(95, 144, 252) !important;
    
}


nav {
    padding: 10px 15%  !important;
    font-family: 'Raleway', sans-serif;
}

.nav-right {
    position: absolute;
    right:15%;
    display: flex;
    flex-direction: row;
    top:10px;
}


.active {
    color:rgb(0, 0, 0) !important;
    background-color: azure;
}
/* ------ */

.pagination {
    margin-top: 30px;
    margin-bottom: 80px;
}

input,textarea {
        font-family: 'Chakra Petch', sans-serif !important;
}



/* TASKS */

.card {
    border: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}




.card-buttons {
    float: right;
    margin-top:30px;
}

.card-buttons a:nth-child(1) {
    padding: 0;
    margin-right: -15px;
}
.card-link {
    font-family: 'Raleway', sans-serif !important;
    font-style: bold;
}  


.card-title {
    font-family: 'Poor Story';
    font-size: 40px;
    color:rgb(1, 1, 95);
    text-shadow: 3px -1px 2px rgba(150, 150, 150, 1);
    
}

.card-text {
    font-family: 'Raleway', sans-serif cursive;
    font-style: italic;
    text-align: center;
    
}

.card-date {
    font-family: 'Kanit', sans-serif;
    position: absolute;
    bottom:5px;

}

.tasks-list {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    width: 100% ;
    padding-top: 30px;
    
}



.task-item {
    flex: 40%;
    margin-top: 15px; 
}

.task-item:nth-child(even) {
    margin-left:15px;
}
.task-item:last-child {
    margin-bottom: 100px;
    
}

.delete-container {
    padding: 20px;
}

/* FOOTER */

.custom-footer { 
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
    margin-top: 150px !important;
}

.copyright {
    text-decoration: none;
    color:rgb(95, 144, 252)
}

/* FORMS */

button {
    font-family: 'Chakra Petch', sans-serif !important;

}

.add-task-form {
    margin-top: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.register-form {
    text-align: center;
    margin-bottom: 100px;
    display: block;
}

.register-form ul {
    display: block;
}


.form {
    top: 20px;
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 1px 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Chakra Petch', sans-serif !important;

}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
}

.message-login {
    margin-top:10px;
} 
 
.errorlist {
    display: inline;
} 


.search-form {
    margin: 0 auto;
    margin-top:80px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 5px;
}

/* NAV */

.go-right {
    display: inline;
    position: absolute;
    right: 10%;
    top:0;
}

.home-image {
    margin-top:5%;
    max-width:70%;
    max-height:60%;
    margin-bottom: 5%;
    
}

.navbar-image {
    width: 152px;
    height: 35px;
}

.navbar-flags {
    width: 25px;
    height: 15px;
}

