{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<header class="header">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        
          <a class="navbar-brand" href="/">P-Task</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task-completed">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/addtask">Add Task</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link nav-right" href="/logout">Logout</a>
                </li>
              {% endif %}
              {% if not user.is_active %}
              <div class='nav-right'>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </div>  
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class=container>
    <div class="form" data-aos="flip-down" data-aos-duration="1000">
        <form method="POST" class="add-task-form" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="center">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>        
        
    </div>

    {% csrf_token %}
{% endblock %}