{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}


<div class='container'>
    <div class='tasks-list'>
    {% for task in completed_tasks %}
    <div class='task-item' data-aos="flip-down" data-aos-duration="1000">    
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <div class='card-buttons'>
                <a href="{% url 'task_edit' task.pk %}" class="card-link"><button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>  Edit </button></a>
                <a href="{% url 'task_delete' task.pk %}" class="card-link"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</button></a>
            </div>
            <p class="card-date">{{ task.task_date|date:"l d M Y" }} | {{ task.task_hour }}</p>
           
            
         </div>
        </div>
    </div> 
    {% empty %}
    <p>You not have completed tasks!</p>
    {% endfor %}       
    </div>
   
    {% comment %} {% if object_list %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>  
    </div>
    {% endif %} {% endcomment %}
</div>
{% csrf_token %}
{% endblock %}