{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<header class="header">
    <nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark">
        
          <a class="navbar-brand" href="/"><img class="navbar-image" src="{%  static 'images/task1.png' %}" alt="navbar-logo" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/task-completed">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addtask">Add Task</a>
                </li>
                 {% comment %} dropdown {% endcomment %}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-expanded="false"><img  class="navbar-flags" src="{% static 'images/enflag.png' %}" alt="en-flag"></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/completed-tasks-es"><img  class="navbar-flags flag-es" src="{% static 'images/esflag.png' %}" alt="es-flag"> Spanis</a></li>
                      <li><a class="dropdown-item" href="/completed-tasks-bg"><img  class="navbar-flags" src="{% static 'images/bgflag.png' %}" alt="bg-flag"> Български</a></li>
                    </ul>
                  </li>
  
  
                  {% comment %} end dropdown {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link nav-right" href="/logout">Logout</a>
                </li>
              {% endif %}
              {% if not user.is_active %}
              <div class='nav-right'>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </div>  
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>

<div class='container'>
    <form class="search-form" method="GET">
        <input type="text" name='search-area' value="{{search_input}}" />
        <input type="submit" value="Search" />
    </form>    
    <div class='tasks-list'>
    {% for task in completed_tasks %}
    {% if  task.completed %}
    <div class='task-item' data-aos="flip-down" data-aos-duration="1000">    
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <div class='card-buttons'>
                <a href="{% url 'task_edit' task.pk %}" class="card-link"><button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>  Edit </button></a>
                <a href="{% url 'task_delete' task.pk %}" class="card-link"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</button></a>
            </div>
            <p class="card-date">{{ task.task_date|date:"l d M Y" }} | {{ task.task_hour }}</p>
          </div>
        </div>
    </div> 
    {% endif %}
    {% empty %}
    <h1 style="text-align:right !important; margin-top: 50px;">Task list is empty !</h1>
    {% endfor %}       
    </div>
   
    {% comment %} {% if object_list %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>  
    </div>
    {% endif %} {% endcomment %}
</div>
{% csrf_token %}
{% endblock %}