{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<div class=container>
    {% if request.user.is_authenticated and tasks.user == request.user %}
    <div class="form" data-aos="flip-down" data-aos-duration="1000">
        <form method="POST" class="add-task-form" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="center">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>        
    {% else %}
    <h1 class='text-center' style='margin-top:20px'>Don`t try to <span style='color:red'>CHEAT</span> !</h1>
    {% endif %}
    
        
    </div>

    {% csrf_token %}
{% endblock %}