{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<header class="header">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      
        <a class="navbar-brand" href="/home-es"><img class="navbar-image" src="{%  static 'images/task1.png' %}" alt="navbar-logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          {% if user.is_active %}
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/tasks-es">Tareas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/task-completed-es">Completas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="/addtask-es">Agregar tarea</a>
              </li>
               {% comment %} dropdown {% endcomment %}
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/home-es" role="button" aria-expanded="false">
                  <img  class="navbar-flags flag-es" src="{% static 'images/esflag.png' %}" alt="es-flag"></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/"><img  class="navbar-flags" src="{% static 'images/enflag.png' %}" alt="en-flag"> English</a></li>
                  <li><a class="dropdown-item" href="/home-bg"><img  class="navbar-flags" src="{% static 'images/bgflag.png' %}" alt="bg-flag"> Български</a></li>
                </ul>
              </li>


              {% comment %} end dropdown {% endcomment %}
              <li class="nav-item">
                  <a class="nav-link nav-right" href="/logout-es">Cerrar sesión
                  </a>
              </li>
            {% endif %}
            {% if not user.is_active %}
            <div class='nav-right'>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/login-es">Acceso</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="/register-es">Registro</a>
              </li>
            </div>  
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</header>
    <div class='container' style="text-align: center; margin-top:50px">
        
            {% if user.is_active %}
                    <h1>Bienvenido
                 <a id="user-name-navbar">{{ user.user_name }}</a>
                </h1>
                {% if object_list %}
                <h4 style="color:blue;"> Tú tienes
                    {{ count_incompleted }} tareas activas

                      y  {{ count_completed }} terminadas.
                </h4>

                
                {% elif not object_list %}
                <p style="color:blue;"> No tienes tarea. ¡Añade tu primera tarea! </p>

                {% endif %}    
            {% endif %}

            {% if not user.is_active %}
                <h1>Por favor, inicie sesión o regístrese !
                </h1>
            {% endif %}
            <img class="home-image" src="{%  static 'images/task1.png' %}" alt='home_img'/>
            
    </div>

    {% csrf_token %}
{% endblock %}