{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<header class="header">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        
          <a class="navbar-brand" href="/">P-Task</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task-completed">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addtask">Add Task</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link nav-right" href="/logout">Logout</a>
                </li>
              {% endif %}
              {% if not user.is_active %}
              <div class='nav-right'>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </div>  
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>
    <div class='container' style="text-align: center; margin-top:50px">
        
            {% if user.is_active %}
                    <h1>Hello  
                 <a id="user-name-navbar">{{ user.user_name }}</a>
                </h1>
                {% if object_list %}
                <p style="color:blue;"> You have {{ count_incompleted }} active tasks
                      and  {{ count_completed }} completed.
                </p>

                
                {% elif not object_list %}
                <p style="color:blue;"> You don`t have task. Add your first task ! </p>

                {% endif %}    
            {% endif %}

            {% if not user.is_active %}
                <h1>Please login or register !</h1>
            {% endif %}
            
    </div>

    {% csrf_token %}
{% endblock %}