{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}

    <div class=container>
        
            {% if user.is_active %}
                    <h1>Hello 
                 <a id="user-name-navbar">{{ user.user_name }}</a>
                </h1>
                <p> You have {{ object_list|length  }} active tasks
            {% endif %}

            {% if not user.is_active %}
                <h1>Please login or register !</h1>
            {% endif %}
            
    </div>

    {% csrf_token %}
{% endblock %}