{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
<header class="header">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
   
        <a class="navbar-brand" href="/"><img class="navbar-image" src="{%  static 'images/task1.png' %}" alt="navbar-logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-expanded="false"><img  class="navbar-flags" src="{% static 'images/enflag.png' %}" alt="en-flag"></a>
              <ul class="dropdown-menu bg-dark">
                <li class="nav-item"><a class="dropdown-item nav-link" href="/addtask-es"><img  class="navbar-flags flag-es" src="{% static 'images/esflag.png' %}" alt="es-flag"> Spanish</a></li>
                <li class="nav-item"><a class="dropdown-item nav-link" href="/addtask-bg"><img  class="navbar-flags" src="{% static 'images/bgflag.png' %}" alt="bg-flag"> Български</a></li>
              </ul>
            </li>
          {% if user.is_active %}
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/tasks">Tasks</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/task-completed">Completed</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/addtask">Add Task</a>
              </li>
               
                <li class="nav-item dropdown bg-dark">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-expanded="false">Profile</a>
                  <ul class="dropdown-menu bg-dark">
                    <li class="nav-item">
                      <a class="dropdown-item nav-link " href="/profile">View</a>
                  </li>
                  <li class="nav-item">
                      <a class="dropdown-item nav-link" href="/logout">Logout</a>
                  </li>
                  </ul>
                </li>
                {% comment %} dropdown {% endcomment %}
               


              {% comment %} end dropdown {% endcomment %}
            {% endif %}
            {% if not user.is_active %}
            <div class='nav-right'>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/login">Login</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="/register">Register</a>
              </li>
            </div>  
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</header>
    <div class='container' style="text-align: center; margin-top:50px">
        
           <h1>Error: The page not exists<h1>
            
    </div>

    {% csrf_token %}
{% endblock %}